In [1]:
print("HOPE AI")

HOPE AI

In [3]:
print(input("Enter your institute name? : "))

Enter your institute name? :  HOPE AI

HOPE AI

In [4]:
print(input("Enter your name: "))
print(input("Enter your age: "))
print(input("Enter your school name: "))
print(input("Enter your degree: "))

Enter your name:  Anand

Anand

Enter your age:  29

29

Enter your school name:  KMHSS

KMHSS

Enter your degree:  B.Tech IT

B.Tech IT

In [6]:
a= int(input("a= "))
b= int(input("b= "))
print("add = ", a+b)

a=  10
b=  20

add =  30

In [7]:
a= int(input("a= "))
b= int(input("b= "))
print("Sub = ", a-b)

a=  30
b=  20

Sub =  10

In [8]:
a= int(input("a= "))
b= int(input("b= "))
print("Mul = ", a*b)

a=  10
b=  20

Mul =  200

In [9]:
a= float(input("a= "))
b= float(input("b= "))
print("Float Div = ", a/b)

a=  76
b=  31

Float Div =  2.4516129032258065

In [10]:
a= float(input("a= "))
b= float(input("b= "))
print("Floor Div = ", a//b)

a=  76
b=  31

Floor Div =  2.0

In [11]:
a= float(input("a= "))
b= float(input("b= "))
print("Modulo = ", a%b)

a=  10
b=  2

Modulo =  0.0

In [12]:
a= float(input("a= "))
b= float(input("b= "))
print("Power = ", a*b)

a=  3
b=  3

Power =  9.0